h1{
	color:green;

} 
fieldset{
	background-color: lightgray;
	margin-top: 20px;
}
legend{
	background-color: gray;
	color:white;
	padding:7px;
	font-weight: bold;
}
{
	margin-top: 30px;
}

input[type="submit"], input[type="reset"]{
	color: green;
	border: 3px solid green;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
	margin-top: 10px;
}